<input type="checkbox" id="check">
<header>
  <label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>Ecua<span>trading</span></h3>
  </div>
  <div class="sidebar-links">
    <a href="{% url 'import_records_by_date' %}" class="sidebar-link" title="Import stock data">
      <i class="fas fa-calendar-alt"></i>
    </a>
    <a href="{% url 'export_to_excel' %}" class="sidebar-link" title="Get Excel">
      <i class="fas fa-file-excel"></i>
    </a>
  </div>
</header>

<div class="sidebar">
  <form method="get" action="" class="search-form" id="search-form">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Search Company" class="form-control search-input" id="search-input">
    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
  </form>
  <div class="company-list">
    {% for company in companies %}
      {% if company.COM_NAME %}
        <a class="dropdown-item company-name" href="{% url 'company_stock_transactions' company.COM_NAME %}">
          {% if company.CON_IMAGE %}
            <img src="{{ company.CON_IMAGE.url }}" alt="{{ company.COM_NAME }}" class="company-logo">
          {% endif %}
          {{ company.COM_NAME }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  let timeout = null;
  const searchInput = document.getElementById('search-input');
  const searchForm = document.getElementById('search-form');

  searchInput.addEventListener('input', function() {
    clearTimeout(timeout);
    timeout = setTimeout(function() {
      searchForm.submit();
    }, 600);
  });
</script>
